:root {
    --yellow-gold: #F4C430;
    --mustard: #D4A017;
    --caramel: #A65F2B;
    --reddish-brown: #7B3F00;
    --dark-brown: #4B2E0F;
    --background-light: #c9b88470;
    --text-color: #714c2b;
    --text-form: var(--text-color);
    --shadow-box: var(--reddish-brown);
    --letter-block: #743e00;
    --letter-block-shadow: ;
}

.dark-mode {
    --background-light: #332316;
    --text-color: #e3d8b8;
    --dark-brown: #2B1B0F;
    --shadow-box: #ac8569;
    --text-form: #77705d;
    --letter-block: #ffdaaf;
    --letter-block-shadow: #949494;
}

.intro {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    top: 40px;
    color: var(--text-color);
}

body {
    background-color: var(--background-light);
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--yellow-gold);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 30px;
    right: 30px;
    border-width: 0;
    transition:
        box-shadow 0.4s ease,
        background-color 0.4s ease,
        transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

#theme-switch:hover {
    transform: rotate(20deg) scale(1.15);
    box-shadow: 0 4px 12px var(--shadow-box);
}

#theme-switch svg {
    fill: var(--fourth-color);
}

#theme-switch svg:last-child {
    display: none;
}

.dark-mode #theme-switch svg:first-child {
    display: none;
}

.dark-mode #theme-switch svg:last-child {
    display: block;
}

#length-form {
    padding: 5px 5px;
    border: 0px;
    border-radius: 40%;
    color: var(--text-form);
    font-family: 'Poppins';
    font-size: 1rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    margin-left: 10px;
    text-align: center;
}

#length-form:hover {
    background-color: rgb(221, 221, 221);
}

#length-form:focus {
    outline: none;
    box-shadow: 0 0 8px var(--shadow-box);
    border-color: var(--caramel);
}

.letter-block {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: var(--letter-block);
    box-shadow: 0 4px 5px 2px var(--letter-block-shadow);
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    border-radius: 5px;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.letter-inserted {
    transform: scale(1.1);
}

.game-rows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.row {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.keyboard-row {
    display: flex;
    margin: 5px 0;
}

.key {
    background-color: var(--letter-block);
    color: white;
    border: none;
    margin: 3px;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.key:hover {
    transform: scale(1.1);
}

.key-delete, .key-enter {
    background-color: var(--mustard);
}
